
<%= stylesheet_link_tag "home.css" %>

<h1 class="mt-3"><%= yield :title %></h1>
<ul>
  <li id="infantil" class="btn btn-lg" style="display:block; background-color:#7E318A; margin: 4px"><%= link_to "Starter", starter_path %></li>
  <li id="fundamental_i" class="btn btn-lg" style="display:block; background-color:#A82564; margin: 4px"><%= link_to "Nível 1", nivel1_path %></li>
</ul>
