
<%= stylesheet_link_tag "home.css" %>

<h1 class="mt-3"><%= yield :title %></h1>

<ul>
  <li class="btn btn-lg"><%= link_to "Cadastro", cadastro_path %></li>
  <li class="btn btn-lg">Login</li>
</ul>
