<h1 class="mt-3">Nível 1</h1>
<ul>
  <li id="infantil" class="btn btn-lg" style="display:block; background-color:#7E318A; margin: 2px"><%= link_to "Ensino Infantil", ensino_infantil_path %></li>
  <li id="fundamental_i" class="btn btn-lg" style="display:block; background-color:#A82564; margin: 2px"><%= link_to "Ensino Fundamental I", fundamental_i_path %></li>
  <li id="fundamental_ii" class="btn btn-lg" style="display:block; background-color:#8EA922; margin: 2px"><%= link_to "Ensino Fundamental II", fundamental_ii_path %></li>
  <li id="fundamental_iii" class="btn btn-lg" style="display:block; background-color:#0E7280; margin: 2px"><%= link_to "Ensino Fundamental III", fundamental_iii_path %></li>
</ul>
