#infantil {
  display: block;
  background-color: "#7E318A";
}

#fundamental_i {
  display: block;
  background-color: "#A82564";
}

#fundamental_ii {
  display: block;
  background-color: "#8EA922";
}

#fundamental_iii {
  display: block;
  background-color: "#0E7280";
}
